.login-container {
    min-width: 100vw;
    min-height: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9; /* Light gray background */
  }
  
  /* Form container */
  .form-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(50, 50, 50, 100); /* Shadow effect */
  }
  
  /* Logo */
  .logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
  }
  
  /* Login heading */
  .login-heading {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  /* Label for Email */
  .email-label {
    font-size: 14px; 
    padding-bottom: 5px;
  }
  
  /* Form inputs */
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  /* Login button */
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4a5568; /* Dark background color */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  /* Prevent color change on hover */
  .login-button:hover {
    background-color: #303d52;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Separator */
  .separator {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .separator-text {
    margin: 0 10px;
    color: #333;
  }
  